
@font-face {
    font-family: ProximaNova-Black;
    src: url('../fonts/ProximaNova-Black.ttf');
}
@font-face {
    font-family: ProximaNova-Light;
    src: url('../fonts/ProximaNova-Light.ttf');
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url('../fonts/ProximaNova-Semibold.ttf');
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url('../fonts/ProximaNova-Regular.ttf');
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url('../fonts/ProximaNova-Bold.ttf');
}
@font-face {
    font-family: ProximaNovaT-Thin;
    src: url('../fonts/ProximaNovaT-Thin.ttf');
}


body, html {
    font-size: 16px;
}
.container{
    max-width: 1170px !important; ;}
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.content{
    overflow: hidden;
    position: relative;
}
.header{
    background:  url("../images/main-left.png") no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    z-index: 99;
}
.flex{
    display: flex;
}
.logo a img{
    width: 10em;
}
.main-left{
    padding-top: 1.250em;
    position: relative;
    z-index: 99;
    width: 25%;
}
.main-right{
    width: 75%;
    position: relative;
    right: -15px;
}
.callback a img{
    display: block;
    margin: auto;
    width: 4.2em;
}
.callback a p{
    margin-top: 0.313em;
    text-align: center;
    font: .5em 'Open Sans Semibold',sans-serif;
    color: #4e4e4e;
}
.callback a{
    text-decoration: none;
}
.callback a:hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.main-nav {
    margin-top: 1.250em;
    position: fixed;
    left: 1.250em;
}
.main-nav ul,
.main-nav ul li,
.main-nav ul li a {
    margin-bottom:1.250em;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    text-decoration: none;
    font: 1em 'Proxima Nova',sans-serif;
    color:#69696a;
    margin-left:1.250em;
}
.main-nav ul li a{
    position: absolute;
    margin-top: -0.5em;
}
.main-nav ul li a p{
    position: absolute;
    left: -5.7em;
    float: right;
    text-align: right;
}
.main-nav ul .active { color:#ffffff;}

.main-nav ul .active span{
    position: absolute;
    left: -5.7em;
    float: right;
    text-align: right;
    transition: all .3s ease-in-out;
}
.main-nav ul .active p{
    min-width: 3em;
    position: absolute;
    left: 0;
    transition: all .5s ease-in-out;
}
*, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.css-shapes-preview{
    display: flex;
    position: relative;
    height: 0.313em;
    width: 0.313em;
    background-color: #69696a;
    border-radius: 9.375em;
}

.css-shapes-preview:first-child,
.css-shapes-preview:last-child{
    position: relative;
    height: 0.063em;
    width: 0.063em;
    background-color: transparent;
    border-radius: 9.375em;
}
.css-shapes-preview a:hover{
    transition: all .3s ease-in-out;
    color: #ffffff;
}
.css-shapes-preview + .white{
    background-color: #ffffff;
}
.main-nav ul:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.313em;
    margin-left: 1.375em;
    border-left: 1px solid #69696a;
}
.light img{
    position: absolute;
    z-index: 2;
    top: 7em;
    right: 0;
    width: 80em;
}
.xgame{
    z-index: 999;

}
.xgame img{
    position: absolute;
    z-index: 10;
    top: 10em;
    left: 17em;
    width: 15.750em;
}
.xgame p{
    font: 12em 'ProximaNova-Black',sans-serif;
    color: #ffffff;
    position: absolute;
    z-index: 5;
    top: 1em;
    left: 2.2em;
}
.xgame p span{
    right: 3em;
    bottom: 0;
    position: absolute;
    font: .12em 'ProximaNova-Bold',sans-serif;
}
.down-btn {
    position: absolute;
    top: 30em;
    left: 11em;
    z-index: 999;
}
.down-btn img{
    width: 10.188em;
}
.services{
    padding: 2em 0 0;
    position: relative;
    background: #141414 url("../images/bg-line.png") no-repeat;
}
.main-title h3{
    font: 2.8em 'ProximaNova-Black',sans-serif;
    color: #ffffff;
    margin: 1em 0 .5em;
}
.about-us{
    background: #141414;
    height: 100vh;
    padding: 1.875em 0 0;
    position: relative;
}
.about-title h3{
    margin: 1em 0 0 4em !important;
}
.service-item .top{
    background-color: #282828;
    border-radius: 15px 15px 0 0;
    height: 4.688em;
    border-bottom: 3px solid transparent;
}
.service-item .top h6{
    padding-top: 1.25em;
    font: 1.5em 'ProximaNova-Semibold',sans-serif;
    text-align: center;
    color: #c4c4c4;
}
.service-item .bot{
    margin-top: 0.2em;
    min-height: 26em;
    padding: 1.875em 0;
    border-radius: 0 0 15px 15px ;
    background-color: #1e1d1f;
}
.service-item .bot .image{
    position: relative;
    max-height: 10.313em;
    max-width: 100%;
}
.service-item .bot .image img{
    position: relative;
    display: block;
    margin: auto;
    max-height: 10.313em;
}
.service-item .bot .image .count{
    font: 3.938em 'ProximaNova-Black',sans-serif;
    color: #f1f1f1;
    position: absolute;
    bottom: 0;
    left: 10%;
}
.service-item .bot p{
    margin-left: 10%;
    color: #a1a1a1;
    font: 1.5em 'ProximaNova-Regular',sans-serif;
}
.red-btn a{
    width: 13em;
    display: block;
    margin: 2em auto;
    background-color: #c5222b;
    font: 1em 'ProximaNova-Bold',sans-serif;
    color: #ffffff;
    text-align: center;
    padding: .9em 1.25em;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
}
.red-btn a:hover{
    transition: all .3s ease-in-out;
    color: #c5222b;
    background-color: #ffffff;
}
.blue-btn a{
    width: 13em;
    display: block;
    margin: 2em auto;
    font: 1em 'ProximaNova-Bold',sans-serif;
    color: #ffffff;
    text-align: center;
    padding: .9em 1.25em;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #2291c5;
}
.blue-btn a:hover{
    transition: all .3s ease-in-out;
    color: #2291c5;
    background-color: #ffffff;
}
.yellow-btn a{
    width: 13em;
    display: block;
    margin: 2em auto;
    font: 1em 'ProximaNova-Bold',sans-serif;
    color: #ffffff;
    text-align: center;
    padding: .9em 1.25em;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #dd8c17;
}
.yellow-btn a:hover{
    transition: all .3s ease-in-out;
    color: #dd8c17;
    background-color: #ffffff;
}
.right-img img{
    position: absolute;
    right: 0;
    top: 53%;
    width: 50em;
    z-index: 1;
}
.left-img img{
    position: absolute;
    left: -2em;
    bottom: -24em;
    width: 50em;
    z-index: 11;
}
.promo-item{
    background-image: linear-gradient(#2c2a30,#1c1b1e);
    padding:  1.875em 1.25em;
    border-radius: 15px;
    z-index: 10;
    position: inherit;
    min-height: 16.250em;
}
.promo-item .price p{
    color: #f1f1f1;
    font: 2.3em 'ProximaNova-Black',sans-serif;
    margin-bottom: .3em;
}
.promo-item .price img{
    margin-right: .6em;
}
.promo-item .description{
    display: flex;
}
.promo-item .description p{
    margin-top: 1em;
    margin-left: 1em;
    color: #a1a1a1;
    font: 1.25em/1.5em 'ProximaNova-Regular',sans-serif;
}
.about-subtitle {
    margin-top: 2.5em;
    display: flex;
}
.about-subtitle p{
    text-transform: uppercase;
    margin-top: 1.25em;
    margin-left: 1.25em;
    color: #ecf0f1;
    font: 1em 'ProximaNova-Bold',sans-serif;
}
.about-list ul{
    list-style: none;
    padding-left: 0;
    margin-top: 3.125em;
}
.about-list ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -1.25em;
    color: #ecf0f1;
}
.about-list ul li{
    color: #ecf0f1;
    font: 1em/2em 'ProximaNova-Regular',sans-serif;
}
.socials a i{
    background-color: #363539;
    height: 3.125em;
    width: 3.125em;
    border-radius: 50%;
    line-height: 3.125em;
    text-align: center;
    font-size: 1.5em;
    color: #141414;
    margin-right: 20px;
}
.socials a:hover i{
    transition: all .3s ease-in-out;
    background-color: #e2e2e3;
}
.news{
    padding: 2em 0;
    position: relative;
    background: #141414 url("../images/news-bg.png") no-repeat;
    background-position: center right;
    background-size: 80% auto;
}
.owl-carousel{
    display: block !important;
}
.main-owl{
    z-index: -1;
}
.main-owl .item img{
    height: 100vh;
}
.owl1 .owl-nav button.owl-next{
    background: url("../images/right-arrow.png") no-repeat;
    height: 5.375em;
    width: 5.375em;
    position: absolute;
    right: -10%;
    top: 30%;
    outline: none;
}
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span{
    display: none;
}
.owl-carousel .item{
    position: relative;
}
.owl-carousel .item .overlay{
    background: rgba(0,0,0,0.7);
    height: 4em;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em ;
}
.owl-carousel .item .overlay p{
    color: #ffffff;
    font: 1.25em 'Open Sans',sans-serif;
    float: left;
    line-height: 2em;
    vertical-align: middle;
}
.owl-carousel .item .zoom-ico{
    float: right;
    bottom: 0;
}
.owl-carousel .item .zoom-ico:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.owl-carousel .item .news-item a{
    display: flex;
    background-color: #343336;
    border-radius: 15px;
    padding: 1.25em;
    text-decoration: none;
}

.calendar img{
    margin: 1em 0 1em 8em;
}
.calendar a:hover img{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.owl2{
    position: relative;
}
.owl2 .owl-nav button.owl-next{
    background: url("../images/right-owl.png") no-repeat;
    height: 33px;
    width: 33px;
    position: absolute;
    left: 5%;
    top: -20%;
    outline: none;
}
.owl2 .owl-nav button.owl-prev{
    background: url("../images/left-owl.png") no-repeat;
    height: 33px;
    width: 33px;
    position: absolute;
    left: 0;
    top: -20%;
    outline: none;
}
.news-item .text-block{
    width: 70%;
    margin-right: 1.8em;
}
.news-item .text-block .date p{
    font: 1em 'ProximaNovaT-Thin',sans-serif;
    color: #ffffff;
}
.news-item .text-block .title h5{
    font: 1.5em 'ProximaNova-Semibold',sans-serif;
    color: #ffffff;
    margin: .2em 0;
}
.news-item .text-block .text p{
    font: 1em/1.3em 'ProximaNova-Regular',sans-serif;
    color: #c3c3c3;
}

.news-item .image img{
    max-height: 10em;
}
.separate{
    margin: 1em 0;
    height: 1px;
    width: 60%;
    border: 1px solid rgba(255,255,255,0.4);
}
.rel-bg{
    position: relative;
}
.owl-wrap{
    position: relative;
}
.angel img{
    top: -10.5em;
    right: 0;
    position: absolute;
    z-index: 10;
    width: 10em;
}
.contacts{
    padding: 2em 0 7em;
    position: relative;
    background: #141414 url("../images/contact-bg.png") no-repeat;
    background-size: 100% auto;
    background-position: bottom right;
}
.gallery{
    position: relative;
    width: 80%;
    display: block;
    margin: 4em auto 0;
}
.album-name h6{
    font: 1em 'ProximaNova-Regular',sans-serif;
    color: #ffffff;
    text-align: right;
    background-color: #343336;
    border-radius: 10px 10px 0 0;
    padding: .6em;
    width: 30%;
    position: absolute;
    right: 21%;
    top: -9%;
}
.owl3{
    margin-top: 1.875em;
}
.owl3 .owl-carousel .owl-nav{
    display: block !important;
}
.owl3 .item{
    position: relative;
}
.owl3 .item .open-modal{
    position: absolute;
    top: 30%;
    left: 33%;
    cursor: pointer;
}
.owl3 .item img {
    max-width: 80%;
}
.owl3 .item .overlay{
    max-width: 80%;
    border-radius: 0 0 10px 10px;
}
/*.owl3 .owl-nav button.owl-next{*/
/*    background: url("../images/gallery-arrow.png") no-repeat;*/
/*    height: 137px;*/
/*    width: 136px;*/
/*    position: absolute;*/
/*    left: 30%;*/
/*    top: 25%;*/
/*    outline: none;*/
/*}*/
.owl3 .owl-dots{
    width: 80%;
}
.owl3  .owl-dots .owl-dot{

    display: inline-block !important;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #34baff;
    outline: none !important;
}
.owl-dots button{
    outline: none !important;
}
.owl-theme .owl-dots .owl-dot span{
    background-color: #17202a;
}
.overlay{
    display:none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.close-modal a{
    position: absolute;
    top: -5%;
    right: -3%;
    font-size: 3em;
    color: #ffffff;
    text-decoration: none;
}
.close-modal a:hover{
    transition: all .3s ease-in-out;
    transform: rotate(180deg);
}
.gallery-modal{
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2em;
    width: 90%;
    background-color: #141414;
    z-index: 999;
    border-radius: 20px;
    display: none;
    height: 90%;
}
.bot-album{
    display: flex;
    flex-wrap: wrap;

}
.bot-album a img{
    padding: 1em;
    max-width: 25em;
}
.contact-item h6{
    color: #e8e8e8;
    font: 1.5em 'ProximaNova-Black',sans-serif;
    margin: 0;
}
.contact-item p,
.contact-item a{
    color: #bdbdbd;
    font: 1em 'ProximaNova-Regular',sans-serif;
}
/*mobile menu*/
.dropdown > label { display: block; }
.dropdown > input + ul + div:after {
    content: "";
    width: 15px;
    height: 10px;
    background: url(/pictures/ico-str00.png) center center no-repeat;
    display: block;
    position: absolute;
    right: 20%;
    top: 17px;
    margin-top: -5px;
    background-size: 100%;
}
.dropdown > input:checked + ul + div:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}
.dropdown input { display: none; }
.dropdown input + ul { display: none; }
.dropdown input + ul li a { text-align: left; padding: 0.5rem 5%!important; font-size: calc(20px - .5vw); }
.dropdown input:checked + ul { display: block; }
.dropdown input:checked + ul li:first-child { padding-top: 15px; }
.drawer-list {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    transform: translate(-100vw, 0);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
    box-sizing: border-box;
    pointer-events: none;
    padding-top: 95px;
    transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
    border-bottom-right-radius: 100vw;
    background-color: #24a8c0;
    background-color: rgba(36, 168, 192, 0.8);
}
@media (min-width: 768px) {
    .drawer-list {
        width: 40vw;
    }
}
.drawer-list ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto;
}
.drawer-list li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
    margin-bottom: 1em;
}
.drawer-list li a {
    text-decoration: none;
    color: #FEFEFE !important;
    text-align: center;
    display: block;
    padding: 0.5rem;
    font-size: calc(24px - .5vw);
    font-weight: 500;
}
@media (min-width: 768px) {
    .drawer-list li a {
        text-align: right;
        padding: .5rem;
    }
}
@media (max-width: 500px) {
    .drawer-list {
        width: 70vw;
    }
    .drawer-list li a {
        font-size: calc(20px - .5vw);
    }
    .dropdown input + ul li a {
        font-size: calc(17px - .5vw);
    }
}
.drawer-list li a:hover {
    cursor: pointer;
    background-color: #24a8c0;
    background-color: rgba(36, 168, 192, 0.5);
}

input.hamburger {
    display: none;
}
input.hamburger:checked ~ .drawer-list {
    transform: translatex(0);
    border-bottom-right-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
    transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
    transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
    transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
    transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
    transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
    transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
    transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
    transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
    transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
    transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
    transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
    transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
    transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
    transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
    transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
    transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
    transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
    transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
    transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
    transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
    transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
    transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
    transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
    transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
    transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
    transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
    transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
    transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
    transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
    transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
    transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
    transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
    transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
    transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
    transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
    transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
    transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
    transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
    transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
    transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
    transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
    transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
    transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
    transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
    transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
    transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
    transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
    transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
    transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
    transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
    transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
    padding-right: 15px;
}
input.hamburger:checked ~ label > i {
    background-color: transparent;
    transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
    transform: translate(-50%, -50%) rotate(315deg);
    top: 0px;
}
input.hamburger:checked ~ label > i:after {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 0px;
}
input.hamburger:checked ~ label close {
    color: #FEFEFE;
    width: 100%;
}
input.hamburger:checked ~ label open {
    color: transparent;
    width: 0;
}

label.hamburger {
    z-index: 9999;
    position: relative;
    display: block;
    height: 40px;
    width: 50px;
}
label.hamburger:hover {
    cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
    text-transform: uppercase;
    font-size: .8em;
    align-text: center;
    position: absolute;
    transform: translateY(50px);
    text-align: center;
    overflow: hidden;
    transition: width .25s .35s, color .45s .35s;
}
label.hamburger text close {
    color: transparent;
    width: 0;
    left: 0;
}
label.hamburger text open {
    color: #FEFEFE;
    width: 100%;
    left: 0;
}
label.hamburger > i {
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    top: 50%;
    background-color: #FEFEFE;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 50%;
    background-color: #FEFEFE;
    content: "";
    transition: transform 0.35s;
    transform-origin: 50% 50%;
    top: 4px;
}
label.hamburger > i:before {
    transform: translate(-50%, -14px);
}
label.hamburger > i:after {
    transform: translate(-50%, 14px);
    top: -4px;
}
label.hamburger {
    position: fixed;
    top: 10px;
    right: 15px;
    background: #24a8c0;
    padding: 10px;
    z-index: 50;
    border-radius: 5px;
    transition: .3s all .3s;
}

/* ХАК VIEW */

.comp-view { display: block; }

.mob-view { display: none; }

content.mob-view {
    z-index:999;
    position: fixed;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 767px) {

    .mob-view { display: block; }

    .comp-view { display: none; }

}
/*end mobile menu*/




@media (min-width: 1500px) {
    .main-left{
        width: 20%;
    }
    .main-right{
        width: 80%;
    }
}
/*arvpro media*/
@media screen and (min-width:1921px){
    body{
        font-size: 21px;
    }
}
@media screen and (max-width:1920px){
    body{
        font-size: 21px;
    }
}


@media screen and (max-width:1700px){
    body{
        font-size: 17px;
    }
}
@media screen and (max-width:1500px){
    body{
        font-size: 16px;
    }
}
@media screen and (max-width:1400px){
    body{
        font-size: 15px;
    }
}
@media screen and (max-width:1260px){
    body{
        font-size: 14px;
    }
}
@media (max-width:992px){
    .promo-item,
    .service-item{
        margin-bottom: 2em;
    }
    .main-left{
        width: 20%;
    }
    .main-right{
        width: 80%;
    }


}
@media (max-width:768px){
    body, button, select, input{
        font-size: 2.5vw!important;
    }
    .mob-view{
        display: block;
    }
    .promo-item,
    .service-item{
        margin-bottom: 2em;
    }
    .xgame img {
        position: absolute;
        z-index: 3;
        top: 6em;
        left: 7em;
        width: 10em;
    }
    .xgame p {
        font: 5em 'ProximaNova-Black',sans-serif;
        color: #ffffff;
        position: absolute;
        z-index: 1;
        top: 1.9em;
        left: 2.6em;
    }
    .down-btn img {
        width: 7em;
    }
    .down-btn {
        position: absolute;
        top: 18em;
        left: 7em;
        z-index: 999;
    }
    .main-nav{
        display: none;
    }
    .logo a img {
        width: 6em;
    }
    .callback{
        margin-left: 3em;
    }
    .callback a img{
        width: 2em;
    }
    .owl-carousel .item .news-item a{
        display: block;
        height: auto;
    }
    .news-item .text-block{
        width: 100%;
    }
    .about-us{
        height: auto;
    }
    .left-img img {
        position: absolute;
        left: -2em;
        bottom: -22em;
        width: 50em;
        z-index: 11;
    }
    .down-btn{
        z-index: 99;
    }
}
@media (max-width: 576px) {
    .header{
        background-size: auto;
        height: auto;
    }
    .owl3 .item img,
    .owl3 .item .overlay{
        max-width: 100%;
    }
    .owl3 .owl-nav button.owl-next {
        background: url(../images/right-arrow.png) no-repeat;
        height: 86px;
        width: 86px;
        position: absolute;
        right: 0%;
        top: 10%;
        outline: none;
    }
    .owl1 .owl-nav button.owl-next{
        right: 0;
    }
    .left-img img {
        position: absolute;
        left: -2em;
        bottom: -11em;
        width: 50em;
        z-index: 11;
    }
    .album-name h6 {
        width: auto;
        right: 0;
        top: -18%;
    }
    .callback{
        margin-top: 2em;
    }
    .main-right,
    .main-left{
        width: 100%;
    }
    .main-right{
        right: 0;
    }
    .flex{
        flex-wrap: wrap;
    }
    .main-owl{
        z-index: 1;
    }
    .main-owl .item img{
        height: auto;
    }
    .xgame,
    .main-nav,
    .down-btn
    {
        display: none;
    }
    .main-title h3{
        font-size: 1.5em;
    }
    .service-item,
    .promo-item,
    .socials{
        margin-bottom: 2em;
    }
    .owl-carousel .item .news-item a{
        display: block;
        height: auto;
    }
    .news-item .text-block{
        width: 100%;
    }
    .angel{
        top: 2%;
    }
    .owl2 .owl-nav button.owl-next{
        left: 20%;
    }
    .angel img{
        width: 10em;
    }
    .about-us{
        height: auto;}
    .owl2 .owl-nav button.owl-next,
    .owl2 .owl-nav button.owl-prev{
        top: -15%;
    }
}
@media (max-width:480px) {
    body, button, select, input {
        font-size: 2.5vw !important;
    }


}
@media (max-width:320px) {
    body, button, select, input {
        font-size: 3.3vw !important;
    }

}



